<body>
    

    <div>
        <h3>Adding Diary</h3>
        <form novalidate>
            <div
             class="form-group create">
            <label for="date">Jogging Date</label>
            <input type="date" class="form-control" id="date" placeholder="mm/dd/yyyy">

            <label for="dist">Distance (m)</label>
            <input type="number" class="form-control" id="dist" placeholder="0">

            <label for="time">Time (s)</label>
            <input type="number" class="form-control" id="time" placeholder="0">
            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br> <br>
        
    </div>

</body>