.container {
    position:relative;
    display:inline-block;
    text-align:center;    
}

.buy {
    position:absolute;
    bottom: 10px;
    left: 10%;
    width: 95px;
    height: 55px;
    text-align: center;
    
}

#main_title{
    padding-left: 33%;
}