.container {
    position: sticky;
    display: contents;
    text-align:center;  
  
    
}
.container-fluid{
    background-color: white;
    max-width: 95%;
    padding-left: none;
    overflow: initial;
}


.buy {
    position:absolute;
    bottom: 10px;
    left: 10%;
   
    height: 55px;
    text-align: center;
    
}

#main_title{
    padding-left: 33%;
}