<html>
  <body>

  <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
            <h3>Вход</h3>
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email или телефон" [formControl] = "email">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="пароль" [formControl] = "password">
          <input type="submit" class="fadeIn fourth" value="Войти">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Воостановить пароль</a>
        </div>
    
      </div>
    </div>
</body>
</html>