<html>
    <body>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <app-header-comp>
                    
                </app-header-comp>
                <div *ngIf = "event" class="events">
                    <img src={{event.image}}>     
                    <a [title] = "event.name + 'details'" [routerLink] = "['/detail', event.id]"> 
                        {{event.name}} 
                    </a>
                    <p>{{event.date}}, {{event.price}} </p>
                
                </div>
            </div>

            <div class="col-sm-2"></div>

        </div>
        <app-footer></app-footer>
    </body>
</html>