<html>
<body>
            <!--
            <div class="search-box">
            
                <input type = "text" placeholder="Искать мероприятия..." [(ngModel)] = "name" (input) = "Search()"  class="form-control search-txt"/>
                <a class="search btn" href="#"></a>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            --> 
            <div class="row">
                 
            <div *ngFor= "let event of Events" class="col-4 col-sm-4 col-md-4 card">
                <div class="card-image" style="background: url({{event.image}});"> 
                </div>
                <div class="card-text">
                    <span class="date"> {{event.date}} </span>
                    <h4> <a [title] = "event.name + 'details'" [routerLink] = "['/detail', event.id]" > {{event.name}} </a> </h4>
                  
                    <p> {{event.description}}</p>
                </div>
                <div class="card-stats">
                   <div class="stat">
                       <div class="value"> {{event.last}} <sup> m </sup> </div>
                       <div class="type">Прод.</div>
                   </div> 
                   <div class="stat border">
                    <div class="value"> {{ event.views}}</div>
                    <div class="type">Смотрели</div>
                </div> 
                <div class="stat">
                    <div class="value">{{ event.restrictions }}</div>
                    <div class="type">Ограничения </div>
                </div> 
                </div>

           
            </div>  
            
        </div>
     
            <!--
            <div class="row">
                <div *ngFor="let event of Events" class="col-md-4 list"> 

                    <img src={{event.image}}>     
                    <a [title] = "event.name + 'details'" [routerLink] = "['/detail', event.id]"> 
                        {{event.name}} 
                    </a>
                    <p>{{event.date}}, {{event.price}} </p>
                </div>
            </div>
            -->
     
                  
   
</body>

</html>