<body>
    <div class="row">
        <div class="container">
            <br>
            Search: <input type = "text" placeholder="Event name" [(ngModel)] = "name" (input) = "Search()" />
            <br>
            
            <h3 class="title">Популярные </h3>
            <div class="row">
                <div *ngFor="let event of Events" class="col-md-4 list"> 
                    <img src={{event.image}}>     
                    <a [title] = "event.name + 'details'" [routerLink] = "['/detail', event.id]"> 
                        {{event.name}} 
                    </a>
                    <p>{{event.date}}, {{event.price}} </p>
                </div>
            </div>
            <br>
        <br>
        </div>
        <div class="row">
            <p>Желаете приобрести билеты на главные мероприятия Казахстана? Удобная афиша поможет вам сориентироваться в насыщенной культурной жизни страны. На нашем портале вы найдете расписание всех заведений, предлагающих развлечения в Казахстане.

            Афиша Казахстана пестрит громкими именами популярных артистов в различных жанрах. Местные и зарубежные представители всех видов искусства готовы представить зрителям шоу мирового уровня с участием выдающихся актеров, певцов, танцоров и спортсменов.
            
            На сайте Ticketon.kz можно не только узнать, какие развлекательные программы ожидаются в ближайшие дни. Вы также без труда закажете билеты в Казахстане онлайн на долгожданную кинопремьеру или сценическое выступление, концерты гастролирующих солистов и коллективов, спортивные состязания. </p>
        </div>
    </div>
</body>