<div class="container">

    <h3 class="title">Популярные</h3>

    <div class="row">
        <div  class="col-sm-4 list">
            <img src="../../assets/kyz-muny201.jpg">
            <div class="container">
                <h4>Кыз муны</h4> 
                <p>5 марта, 18:30, от 1000 тг.</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/userprofile-new-12_12.jpg">
            <div class="container">
                <h4>Инструкция как правильно плакать</h4> 
                <p>20 марта, 19:30</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/evgeniy-onegin-astanaopera-1082620.jpg">
            <div class="container">
                <h4>Евгений Онегин(Астана Опера)</h4> 
                <p>27 февраля, 18:00</p> 
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div  class="col-sm-4 list">
            <img src="../../assets/spektakl-o-dengakh-lozh.jpg">
            <div class="container">
                <h4>Бельгийский иммерсивный...</h4> 
                <p>13 марта, 16:00, от 18 000тг.</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/img-ticketon-012221100250.jpg">
            <div class="container">
                <h4>Oi-Qaragai Lesnaya Skazka</h4> 
                <p>Mountain resort Oi-Qaragai</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/valpurgieva-noch-astanaballet2.jpg">
            <div class="container">
                <h4>"Вальпургиева ночь" в Astana Opera</h4> 
                <p>12, 13 марта</p> 
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <h3 class="title">Рекомендуемые</h3>
        
    
    </div>
    <div class="row">
        <div  class="col-sm-4 list">
            <img src="../../assets/lubovnica-3101.jpg">
            <div class="container">
                <h4>"Любовница" в Алматы</h4> 
                <p>27 февраля, 5, 6 марта</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/master-i-margarita (4).jpg">
            <div class="container">
                <h4>Мастер и Маргарита</h4> 
                <p>7, 8 марта</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/20605u52887_kursy-k-testam-ielts-i-toefl1234.jpg">
            <div class="container">
                <h4>Подготовительные курсы к ...</h4> 
                <p>Онлайн мастер классы</p> 
            </div>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div  class="col-sm-4 list">
            <img src="../../assets/21787u30705_polety-na-vozdushnom-share.jpg">
            <div class="container">
                <h4>Сертификаты на полеты на...</h4> 
                <p>Kazaerostat</p> 
            </div>
            
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/21868u45664_vecher-odnoaktnykh-baletov.jpg">
            <div class="container">
                <h4>Вечер одноактных баллетов в ...</h4> 
                <p>27, 28 февраля. Astana ballet</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/ogon-detka-2901.jpg">
            <div class="container">
                <h4>#Огонь Детка в Алматы</h4> 
                <p>10, 12 марта, от 7 000 тг.</p> 
            </div>
        </div>
    </div>

    <br>
    
    <div class="row">
        <div  class="col-sm-4 list">
            <img src="../../assets/tansulu1.jpg">
            <div class="container">
                <h4>Тансулу</h4> 
                <p>27 февраля, 18:30, от 1000тг.</p> 
            </div>
            
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/21589u30705_kino-kabinki.jpg">
            <div class="container">
                <h4>Сертификаты на просмотры...</h4> 
                <p>OSCAR Cinema & Karaoke</p> 
            </div>
        </div>
        <div  class="col-sm-4 list">
            <img src="../../assets/tugan-kun-auezov-atyndagy-teatr.jpg">
            <div class="container">
                <h4>Премьера! Туган кун</h4> 
                <p>27 февраля, 18:30, от 1 500 тг.</p> 
            </div>
        </div>
    </div>
<br>
</div>
<div class="row">
    <p>Желаете приобрести билеты на главные мероприятия Казахстана? Удобная афиша поможет вам сориентироваться в насыщенной культурной жизни страны. На нашем портале вы найдете расписание всех заведений, предлагающих развлечения в Казахстане.

      Афиша Казахстана пестрит громкими именами популярных артистов в различных жанрах. Местные и зарубежные представители всех видов искусства готовы представить зрителям шоу мирового уровня с участием выдающихся актеров, певцов, танцоров и спортсменов.
      
      На сайте Ticketon.kz можно не только узнать, какие развлекательные программы ожидаются в ближайшие дни. Вы также без труда закажете билеты в Казахстане онлайн на долгожданную кинопремьеру или сценическое выступление, концерты гастролирующих солистов и коллективов, спортивные состязания. </p>
  </div>