
.call{
    background: #e5e5e5;
    border-bottom: 1px solid #000;
    padding: 30px 0;
    box-shadow: 2px solid #000;
}

.phone{
    width: 755px;
}

.phone_text{
    padding-top: 5px;
    color: #110c11;
    font-size: 14px;
    text-transform: uppercase;
    width: 450px;
    padding-left: 46px;
}

.phone_number{
    color: #000;
    font-size: 22px;
    font-weight: 500;
   
    
}