body{
    max-width: 100%;
    background-image: url("../../assets/lk-345645765653423.jpg");
    background-repeat: none;
}
.hh{
    padding-bottom: 20%;
}

.rr{
    padding-left: 500px;
}
.cont {

    background-color: ghostwhite;
    max-width: 70%;
    position: center;
    height: 90%;
    padding-left: 50px;
    margin-left: 20%

}