body{
    max-width: 100%;
}

.logo{
    max-width: 100%;
    padding: 20px;
}
a{
    padding-left: 3%;
}

.small-nav{
    text-align: left;
    font-size: 10px;
}

p{
    padding-left:30px;
}


.lang{
    padding-left: 20px;
    size: 5px;
}

