body{
    margin-top: 40%;
}

.form-group{
    padding-left: 15px;
}

.logo{
    max-width: 100%;
    padding: 20px;
}
a{
    padding-left: 3%;
}

.small-nav{
    text-align: left;
    font-size: 10px;
    
}

p{
    padding-left:30px;
}
.rounded{
    max-width: 750px;
    padding:20px;
}

.lang{
    padding: 20px;
    size: 5px;
}
