<!DOCTYPE html>
<html>
  <head></head>
  
  <body>

    
      <div class="row">
    
        <div class="col">
          
          <h1 id="main-word">TICKETON</h1>
          <p>Ticketon.kz – крупнейший в Казахстане сервис онлайн-продажи билетов на культурные и спортивные мероприятия,
             включая: кино, театральные и цирковые постановки, концерты звезд казахстанской и зарубежной эстрады, 
             тренинги и семинары, экскурсии в музеи и художественные галереи, детские представления, футбольные, 
             хоккейные и баскетбольные матчи национальных команд, а также соревнования международного масштаба.
          </p>
          <button type="button">Найти событие</button>
      </div>
    
      <div class="col">
    
        <ul>
          <li class="card card1">
            <h5> КИНОТЕАТРОВ </h5>
            <p> 42 </p>
          </li>
          <li class="card card2">
            <h5> ТЕАТРОВ </h5>
            <p> 70 </p>
          </li>
          <li class="card card3">
            <h5> КОНЦ. ЗАЛОВ </h5>
            <p> 149 </p>
          </li>
          <li class="card card4">
            <h5> СПОРТ. АРЕН </h5>
            <p> 51 </p>
          </li>
    
        </ul>
    
      </div>

    </div>

  

  
</body>

</html>