<html>
    <body>
        
        <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            
                <app-header-comp></app-header-comp>
            

            <div *ngIf="event" class="event_info">
                <a> {{ event.location }} </a>

                <h1>{{ event.name }} </h1>

                <h3> {{event.date}}, {{ event.price }} </h3>

                <div class="row">
                    <div class="col-sm-6">
                        <img src={{event.image}} class="photOndet"> 
                    </div>
                    <div class="col-sm-6 info">
                        <p>Режиссер: {{event.director}}<p>
                        
                        <p>Автор: {{event.author}}<p>

                        <p> Продолжительность: {{ event.last}}</p>

                        <p> Возрастное ограничения: {{ event.restrictions}}</p>

                        <p> Категория: {{ event.category }} </p>

                        <p> {{event.views}} людей интересовались этим событием</p>
                    </div>
                </div>


                <p>{{ event.description }}</p>


            </div>

            </div>
            <div class="col-sm-2"></div>

            
        </div>
        <app-footer></app-footer>
    </body>
</html>
