<html>
    <body>
            <div *ngIf="event" class="event_info">
                <header>
                 <h2>{{ event.name }}</h2>
                </header>
                <a> {{ event.location }} </a>

                <nav>
                    <img src={{event.image}} class="photOndet"> 
                  </nav>

                <h3> {{event.date}}, {{ event.price }} </h3>

                <article>
                    <h1>{{ event.name }}</h1>
                    <p> {{event.date}}, {{ event.price }}</p>
                    <p> {{ event.description }} </p>
                  </article>
            </div>
        <app-footer></app-footer>
       
    </body>
</html>
