body{
    background-image: url("../../assets/img-ticketon-120720100726.jpg");
    padding-left: 10px;
}


.event_info{
    background-color: ivory;
}

.photOndet{
    max-width: 350px;
    max-height: 350px;
    padding-left: 20px;
}

.info{
    text-align: left;
    padding-right: 150px;
}
p{
    text-align: left;
}